@model ShoppingCart.Models.Order

@{
    ViewBag.Title = "Address And Payment";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"
        type="text/javascript"></script>
@*<script src="@Url.Content("~/Scripts/jquery.creditCardValidator.js")"
        type="text/javascript"></script>*@
@Scripts.Render("~/Scripts/jquery.creditCardValidator.js")


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://jquerycreditcardvalidator.com/jquery.creditCardValidator.js"></script>

<script>


    $(document).ready(function () {
        //card validation on input fields
        $('#paymentForm input[type=text]').on('keyup', function () {
            if (cardFormValidate()) {
                alert('Working');
            } else {
                alert('Not working');
            }
        });
    });

    function cardFormValidate() {
        var cardValid = 0;

        //card number validation
        $('#card_number').validateCreditCard(function(result){
            if (result.valid) {
                $("#card_number").removeClass('required');
                cardValid = 1;
            } else {
                $("#card_number").addClass('required');
                cardValid = 0;
            }
        });

        //card details validation
        var cardName = $("#name_on_card").val();
        var expMonth = $("#expiry_month").val();
        var expYear = $("#expiry_year").val();
        var cvv = $("#cvv").val();
        var regName = /^[a-z ,.'-]+$/i;
        var regMonth = /^01|02|03|04|05|06|07|08|09|10|11|12$/;
        var regYear = /^2017|2018|2019|2020|2021|2022|2023|2024|2025|2026|2027|2028|2029|2030|2031$/;
        var regCVV = /^[0-9]{3,3}$/;

            if (cardValid == 0) {
                $("#card_number").addClass('required');
                $("#card_number").focus();
                return false;

            } else if (!regMonth.test(expMonth)) {
                $("#card_number").removeClass('required');
                $("#expiry_month").addClass('required');
                $("#expiry_month").focus();
                return false;

            } else if (!regYear.test(expYear)) {
                $("#card_number").removeClass('required');
                $("#expiry_month").removeClass('required');
                $("#expiry_year").addClass('required');
                $("#expiry_year").focus();
                return false;

            } else if (!regCVV.test(cvv)) {
                $("#card_number").removeClass('required');
                $("#expiry_month").removeClass('required');
                $("#expiry_year").removeClass('required');
                $("#cvv").addClass('required');
                $("#cvv").focus();
                return false;

            } else if (!regName.test(cardName)) {
                $("#card_number").removeClass('required');
                $("#expiry_month").removeClass('required');
                $("#expiry_year").removeClass('required');
                $("#cvv").removeClass('required');
                $("#name_on_card").addClass('required');
                $("#name_on_card").focus();
                return false;

            } else {
                $("#card_number").removeClass('required');
                $("#expiry_month").removeClass('required');
                $("#expiry_year").removeClass('required');
                $("#cvv").removeClass('required');
                $("#name_on_card").removeClass('required');
                return true;
            }
    }
</script>


@using (Html.BeginForm())
{

    <h2>Address And Payment</h2>
    <fieldset>
        <legend>Shipping Information</legend>
        @Html.EditorForModel()
    </fieldset>

    <form method="post" id="paymentForm">
        <p>
            <label>Card number</label>
            <input type="text" placeholder="1234 5678 9012 3456" id="card_number">
        </p>
        <p>
            <label>Expiry month</label>
            <input type="text" placeholder="MM" maxlength="5" id="expiry_month">
        </p>
        <p>
            <label>Expiry year</label>
            <input type="text" placeholder="YYYY" maxlength="5" id="expiry_year">
        </p>
        <p>
            <label>CVV</label>
            <input type="text" placeholder="123" maxlength="3" id="cvv">
        </p>
        <p>
            <label>Name on card</label>
            <input type="text" placeholder="Codex World" id="name_on_card">
        </p>
    </form>



    @*<fieldset>
        <legend>Payment</legend>
        <p>
            We're running a promotion: all music is free
            with the promo code: "FREE"
        </p>
        <div class="editor-label">
            @Html.Label("Promo Code")
        </div>
        <div class="editor-field">
            @Html.TextBox("PromoCode")
        </div>
    </fieldset>*@

    <input type="submit" value="Submit Order" />
}


